vaadin-master-detail-layout::part(detail-placeholder) {
    align-items: center;
    color: var(--lumo-tertiary-text-color);
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    vaadin-master-detail-layout {
        --_detail-size: 100%;
    }
}