vaadin-grid[theme~='row-height-full'] vaadin-grid-cell-content {
    min-height: 100%;
}

/* Item clicked */
vaadin-grid:not([theme~='no-row-borders'])::part(active) {
    box-shadow: 0 var(--_lumo-grid-border-width) 0 0 var(--_lumo-grid-selected-row-color);
}

/* Item selected (i.e. checked) */
vaadin-grid:not([reordering])::part(selected-row-cell) {
    background-image: none;
}

vaadin-grid:not([theme~='no-row-borders'])::part(selected-row-cell) {
    box-shadow: none;
}

vaadin-grid:not([reordering])::part(active) {
    background-image: linear-gradient(var(--_lumo-grid-selected-row-color), var(--_lumo-grid-selected-row-color));
    background-repeat: repeat;
}

