vaadin-master-detail-layout[theme~='no-border']::part(detail) {
    border: none;
}

vaadin-master-detail-layout[theme~='show-placeholder']:not([has-detail])::after {
    align-items: center;
    color: var(--lumo-tertiary-text-color);
    content: "Select an item to see details";
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

vaadin-master-detail-layout[drawer] vaadin-master-detail-layout#nested-master-detail {
    padding: 0;
    max-width: 440px;

    .border {
        border: none;
    }
}

vaadin-master-detail-layout[orientation="horizontal"][has-master-size]::part(master) {
    width: var(--_master-size);
}

/* Hide close button when MasterDetailLayout is not in drawer mode */
vaadin-master-detail-layout:not([drawer]) .detail-close-button {
    display: none !important;
}

/* Show close button only when drawer is open */
vaadin-master-detail-layout[drawer] .detail-close-button {
    display: flex !important;
}


@media (prefers-reduced-motion: no-preference) {
    /* Disable master transition in stacked mode */
    vaadin-master-detail-layout[orientation='horizontal']::part(backdrop) {
        display: none;
    }

    /* Attempt to improve animated transition, will be better in final version of the component  */
    vaadin-master-detail-layout[orientation='horizontal']::part(master) {
        --_vaadin-mdl-stack-master-offset: 0%;
    }

    vaadin-master-detail-layout[orientation='horizontal'][transition='remove']::part(master) {
        opacity: 1 !important;
    }
}

@media screen and (max-width: 1024px) {
    vaadin-master-detail-layout[orientation="horizontal"][has-master-size]::part(master) {
        flex-grow: 1;
    }
    vaadin-master-detail-layout[theme~='show-placeholder']:not([has-detail])::after {
        display: none;
    }
}

/* Fade-in animation for detail content when selection changes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

[animate-in] {
    animation: fadeIn 0.3s ease-in-out;
}

/* Progress demo for MDL */
vaadin-master-detail-layout.mdl-progress {
    container-type: inline-size;
}

@container (width < 1024px) {
    vaadin-master-detail-layout.mdl-progress:has(vaadin-master-detail-layout[has-detail])::part(master) {
        --_master-min-size: 0px;
        flex-basis: 0%;
        overflow: hidden;
        transition: flex-basis 400ms cubic-bezier(0.78, 0, 0.22, 1);
    }

    vaadin-master-detail-layout.mdl-progress:has(vaadin-master-detail-layout)::part(detail) {
        flex-basis: 100%;
        transition: flex-basis 400ms cubic-bezier(0.78, 0, 0.22, 1);
    }
}

/* Equal split variant */
@container (width > 1024px) {
    vaadin-master-detail-layout.equal-split:has(vaadin-master-detail-layout[has-detail])::part(master) {
        flex-basis: 33%;
    }

    vaadin-master-detail-layout.equal-split:has(vaadin-master-detail-layout[has-detail])::part(detail) {
        flex-basis: 66%;
    }
}

@media screen and (max-width: 600px) {
    vaadin-master-detail-layout[drawer] vaadin-master-detail-layout#nested-master-detail {
        max-width: none;
        width: 100vw;
    }
}