@import url('./main-layout.css');

vaadin-master-detail-layout::part(detail) {
    border: none;
}

vaadin-master-detail-layout:not([has-detail])::after {
    content: "Select an item to see details";
    color: var(--lumo-tertiary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

vaadin-master-detail-layout[orientation="horizontal"][has-master-size]::part(master) {
    width: var(--_master-size);
}

/* Hide close button when MasterDetailLayout is not in drawer mode */
vaadin-master-detail-layout:not([drawer]) .detail-close-button {
    display: none !important;
}

/* Show close button only when drawer is open */
vaadin-master-detail-layout[drawer] .detail-close-button {
    display: flex !important;
}

@media screen and (max-width: 1024px) {
    vaadin-master-detail-layout[orientation="horizontal"][has-master-size]::part(master) {
        flex-grow: 1;
    }
    vaadin-master-detail-layout:not([has-detail])::after {
        display: none;
    }
}